.header
{
	background-color: white;
	height: 80px;
	box-shadow: 1px 4px 1px #b6bac1;
}
.logo
{
	margin-top: 20px;
}
.ink
{
	text-decoration: none;

}
.imgs
{
	margin-top: 50px;
}
.labo
{
	margin-top: 4px;
	height: 50px;
    
}
.lab
{
	margin-top: 10px;
}
.button1
{
	background-color: black;
	border: none;
	border-radius: 4px;
	color: white;
}
.computer
{
	background-color: lightgray;
	height: 25px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 6px;
}
.profile
{
	background-color: #25baf9;
	height: 100px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 2px;
}
.bord
{
margin-top: -10px;	
border-bottom-style: solid;
border-bottom-color: white;
border-bottom-width: 1px;

}

.name1
{
	height: 30px;
}
.txt1
{
	width: 180px;
	border-radius: 4px;
	margin-top: 3px;
}
.search
{
	margin-left: -18px;
}
.consult
{
	margin-left: 10px;
	margin-right: 10px;
}
.doc
{
	font-weight: bold;
	margin-top: 4px;
}
.aria
{
	width: 200px;
	border-radius: 3px;
	margin-top: 4px;
}
.check
{
	margin-right: 10px;
	margin-left: 10px;
}
.box
{

	margin-top: 6px;
}
.button2
{
	background-color: #0b367c;
	color: white;
	border: none;
	border-radius: 3px;
	margin-top: 1px;

}
.tab input
{
	margin-left: 15px;

}
.footer
{
	
	margin-top: 2px;
}
/*hospital 2*/

.application
{
	height: 100px;
	box-shadow: 1px 3px 5px lightgray;
}
.box_blu
{
	background-color: #3db4cc;
	margin-top: 25px;
	height:50px;
	margin-bottom: 25px;
	box-shadow: 1px 5px 5px black;
}
.st_ft
{
	text-align: center;
}
.style1
{
	margin-top: 10px;
	font-size: 30px;
	color: white;
}
.app
{
	font-weight: bold;
	margin-top: 45px;
}
.bord2
{
margin-top: -10px;	
border-bottom-style: solid;
border-bottom-color: lightgray;
border-bottom-width: 1px;

}
.indfont
{
	color: black;
	font-weight: bold;
	font-size: 12px;
}

@media only screen and (max-width: 480px)
{
	.logo img 
	{
       margin: auto;
	}
	.computer
	{
		margin-top: 0px;
	}
	.aria
	{
		width: 100px;
	}
	


}